






<div aria-label="Page navigation bg-dark" class=" d-flex justify-content-center   ">
    <ul class="pagination ">
        <li class="page-item "><a class="page-link" id="pre" href="">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" id="next" href="#">Next</a></li>
    </ul>
</div>












