* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #fff;
}
.bg {
  background: radial-gradient(100% 225% at 100% 0%, #ff0000 0%, #000000 100%),
    linear-gradient(236deg, #00c2ff 0%, #000000 100%),
    linear-gradient(
      135deg,
      #cdffeb 0%,
      #cdffeb 36%,
      #009f9d 36%,
      #009f9d 60%,
      #07456f 60%,
      #07456f 67%,
      #0f0a3c 67%,
      #0f0a3c 100%
    );
  background-blend-mode: overlay, hard-light, normal;
}
.nav-text {
  font-size: 2rem;
  font-weight: 900;
}

.sticky {
  padding-bottom: 20px;
  background: radial-gradient(100% 225% at 100% 0%, #ff0000 0%, #000000 100%),
    linear-gradient(236deg, #00c2ff 0%, #000000 100%),
    linear-gradient(
      135deg,
      #cdffeb 0%,
      #cdffeb 36%,
      #009f9d 36%,
      #009f9d 60%,
      #07456f 60%,
      #07456f 67%,
      #009f9d 67%,
      #0f0a3c 100%
    );
  background-blend-mode: overlay, hard-light, normal;
}
.box {
  transition: all 0.3s ease-in-out;
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45),
    5px 5px 9px rgba(94, 104, 121, 0.3);
}
.box:hover {
  box-shadow: 0 0 1px rgba(33, 33, 33, 0.2);
}
.bg-footer {
  background: rgb(1, 3, 11);
  background: linear-gradient(
    4deg,
    rgba(1, 3, 11, 1) 0%,
    rgba(31, 1, 141, 1) 50%,
    rgb(48, 118, 238) 100%
  );
}
.link {
  color: #000000;
  text-decoration: none;
}
